@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&family=League+Spartan:wght@500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

:root {
  --bg-color : #FF6666;
  }

ul {
  list-style-type: none;
}

/* Navbar css */




/* Footer */ 

.footer {
  color: white;
  padding: 25px;
  background-color: var(--bg-color) !important;
}

.footer a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* PagenotFound css */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* Register page */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
}

.register input {
  margin-bottom: .5rem;
  width: 400px;
}


/* product-link */

.pro-link {
  text-decoration: none;
}

.check {
  margin-left: 1rem;
}

.product-img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}