.cart-empty {
    width: 100%;
}

.cart-img {
    margin-top: 4rem;
}


.cart-empty-section {
    position: relative;
    top: 0rem;
}

.cart-text {
    font-size: 2rem;
    color: var(--side-heading);
}

.cart-text span {
    color: var(--heading);
}

.cart-empty-section p {
    margin-top: 2rem;
    font-size: 1rem;
    color: #666;
}

.cart-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--heading);
    color: #eee;
}

.cart-icon {
    position: relative;
    top: -.2rem;
}

.cart-btn:hover {
    background-color: var(--side-heading);
    transition:  all .3s ease-in-out ;
    transform: scale(.9) ;
}

.card-cart-section {
    width: 700px;
    height: 500px;
    display: flex;
}

.card-cart-section img {
    width: 250px;
    height: 250px;
}

.card-cart-text {
    position: relative;
    left: 60px;
} 

.cart-line {
    display: block;
    margin: auto;
    width: 90%;
    color: var(--heading);
}

.cart-button {
    width: 150px;
    background-color: var(--heading);
    padding: 10px !important;
    margin-bottom: 6rem;
    margin-left: 1rem;
}

.cart-para {
    font-size: 1rem;
    color: #666;
    font-weight:  200 !important;
}

.btn-product-cat {
    background-color: var(--heading);
    color: #fff;
    width: 120px;
    margin-right: 1rem;
}

.product-cat-container {
    overflow-x: hidden;
}

.cat-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none !important;
    cursor: pointer;
    width: 290px !important;
    height: 70vh;
}

.btn-product-more {
    background-color: var(--side-heading);
    color: #fff;
    margin-right: 1rem;
}

.btn-div {
    display: flex;
    position: relative;
    top: -1rem;
}