.cart-empty {
    width: 100%;
}



.cart-text-section {
    position: relative;
    top: -6rem;
}

.cart-text {
    font-size: 2rem;
    color: var(--side-heading);
}

.cart-text span {
    color: var(--heading);
}

.cart-text-section p {
    margin-top: 2rem;
    font-size: 1rem;
    color: #666;
}

.cart-btn {
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background-color: var(--heading);
    color: #eee;
}

.cart-icon {
    position: relative;
    top: -.2rem;
}

.cart-btn:hover {
    background-color: var(--side-heading);
    transition: all .3s ease-in-out;
}

.card-cart-section {
    width: 700px;
    height: 500px;
    background-color: #f2f2f2;
    display: flex;
}

.card-cart-section img {
    width: 250px;
    height: 250px;
}

.card-cart-text {
    position: relative;
    left: 60px;
} 

.cart-line {
    display: block;
    margin: auto;
    width: 90%;
    color: var(--heading);
}

.cart-button {
    width: 150px;
    background-color: var(--heading);
    padding: 0 !important;
    margin-bottom: 6rem;
}

.cart-para {
    font-size: 1rem;
    color: #666;
    font-weight:  200 !important;
}