:root {
    --heading : #7a0c0c;
    --side-heading : #080a1b;
}

.main {
    width: 100%;
    height: 190vh;
}

.contact-heading {
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: -3rem;
    
}

.contact {
    display: flex;
    justify-content: center; 
}

.contact-cards {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 60%;
    z-index: 10000;
    background-color: #fff;
    border-radius: 10px;
}

.slide {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    height: 180px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.slide span {
    margin-top: 10px;
}

.contact-cards .slide span .MuiSvgIcon-root {
    color: var(--heading);
    width: 40px;
    height: 40px;
}

/* contact.css */
.accord {
    position: absolute;
    top: 130%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 9rem;
    margin-top: 2rem;
}
  
.accord-item {
    margin-top: 3rem;
    width: 80%;
    height: 100px;
}

.accord-item-header {
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 3rem;

}

.accord .text {
    text-align: center;
    margin: 2rem;
  
}

.accord-item-content {
    margin-top: .5rem;
    font-size: 1.2rem;
    color: #27374D;
}

.accord-item-header {
    font-size: 1.2rem;
    cursor: pointer;
    padding-right: 3rem;
    border-bottom: none; /* Remove the border line between question and answer */
}

.accord-item-content {
    margin-top: .5rem;
    font-size: 1rem;
    color: #27374D;
    border-top: none; /* If there's a border above the answer, remove it */
}

