:root {
    --bg-color : #FF6666;
    --heading : #7a0c0c;
    }


.search {
    width: 400px;
    border: 1px soldi black;
    position: relative;
    top: 1rem;
}

.tag {
    position: relative;
    top: 1rem;
    color: var(--heading);
    margin-top: 1rem;
}

.search-btn {
    background-color: var(--heading) !important;
    color: #eee;
    border: none !important;
}

.search input {
    outline: none !important;
}


.cart-section {
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: var(--heading);
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.8rem;
    right: .2rem;
}


