.main-product-container {
  margin-top: 3rem;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.check {
    margin-left: 4.2rem;
}

.filter {
    margin-left: -2.8rem;
}

.btn-reset {
    width: fit-content;
    margin-left: 4.2rem;
    background-color: var(--heading);
    border: none;

}

/* Home.css */

.container-fluid {
    margin-top: 20px;
  }
  
  .card {
    width: 18rem;
    margin: 10px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
   .card-text {
    font-size: 1rem;
    text-align: center;
    color: var(--side-heading) !important;
  }
  
  .btn {
    margin-top: 5px;
  }
  
  /* You can add more styles as needed */
  .home-section {
    display: flex;
    margin: 3rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }



.shoes-info {
 padding: 50px;
 display: flex;
 flex-direction: column;
 width: 50%;
}

.shoes-info h1 {
  font-size: 3.5rem;
}

.shoes-info h5 {
  margin-bottom: 2rem;
  width: 90%;
  color: #666;
}

.shoes-info button {
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 10px;
  border: none;
  outline: none;
  background-color: var(--heading);
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.main-shoes-button:hover {
  background-color: var(--side-heading);
  color: #fff;
  transition: .3s all ease-in-out ;
  transform: scale(.9);
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.shoe-img {
  width: 420px;
  height: 420px;
  object-fit: contain;
  animation: zoomIn 3s infinite alternate;
}




/* Animation for shoes info */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.shoes-info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
  animation: slideIn 1.5s ease-in-out;
}

.shoes-strip-section {
  width: 100%;
 height: 200px;
 display: flex;
 justify-content: space-around;
 background-color: var(--side-heading);
 align-items: center;
 margin-bottom: 2rem;
}

.shoes-strip-section section {
      width: 22%;
      height: 120px;
      background-color: #30323f;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 10px;
      border-radius: 5px;
}



.btn-load {
  background-color: var(--heading);
  color: #eee;
  border: none;
  display: block;
  margin: auto;
}

.btn-load:hover {
  background-color: var(--side-heading);
  color: #eee;
  transition: ease-in .3s all;

}

.promo-card button:hover {
  background-color: var(--side-heading);
  color: #fff;
  transition: .3s all ease-in-out;
  transform:  scale(0.9);
}

.shoes-strip-section section svg {
  color: var(--heading);
  width:  35px;
  height: 35px; 
  position: relative;
  top: -1rem;
}

.main-tag {
  font-size: 1.3rem;
  color: #eee !important;
}

.shoes-strip-section span {
  color: #666;
}

.main-product-card {
  display: flex !important;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.card-product {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none !important;
  cursor: pointer;
  width: 270px !important;
  height: 65vh;
}

.card-body p {
    color: #666;
}

/* promo card */



.main-promo-card {
  width: 100%;
  display: flex;
  height: 90vh;
  background-color: #f8f4f2;
  justify-content: space-evenly;
  align-items: center;
  
}

.promo-card {
  height: 65vh;
  width: 28%;
  background-color: #fff;
  padding: 40px 0px 0px 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.promo-sub-heading {
  padding: 10px 0px;
  font-size: 1.2rem;
  color: #666;
}

.btn-promo {
  padding: 10px 30px;
  border: none;
  outline : none;
  color: #fff;
  background-color: var(--heading);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;

}

.btn-promo:hover {
  background-color: var(--side-heading);
  color: #eee;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: ease-in .3s all;
  transform: scale(0.9);
}

.price-tag {
  color: var(--heading) !important;
}

.promo-img {
  width: 200px;
  height: 200px;
  position: relative;
  top: -4rem;
  right: -6.5rem;
}

.promo-image {
  width: 200px;
  height: 200px;
  position: relative;
  top: -4rem;
  right: -6.5rem;
}

.main-shoes-button {
  width: max-content !important;
  padding: 10px 30px;
  display: flex;
  gap: 10px;
  border: none;
  outline: none;
  background-color: var(--heading);
  color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sales-strip {
  width: 100%;
  height: 20vh;
  background-color: var(--side-heading);
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sales-heading {
  font-size: 1.8rem;
  position: relative;
  top: 13%;
}

.main-trending-card {
  display: flex !important;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.main-trending-container {
  margin-top: 3rem;
}

.foot-img {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
  width: 40px;
  height: 40px;
}




/* customer section */

.customer-section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f8f4f2;
}

.customer-section .best-tag {
  font-size: 2.3rem;
  padding-top: 5rem;
}

.customer-main-section {
  width: 100%;
  height: 100vh;
  display: flex;
  grid-column: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;

}

.customer-card {
  width: 28%;
  height: 65vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.star-review {
  width: 80px;
  height: 15px;
  object-fit: cover;
  display: block;
  margin:  1rem auto;
  margin-top: 3rem;
}

.customer-card p {
  font-size: .9rem;
  padding: 10px 35px;
  color: #666;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.customer span {
  color: var(--heading);
}

.customer img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.review-main {
  height: 70vh;
  position: relative;
  top: -1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  border-radius: 10px;
  width: 28%;
}

.review-main h4 {
  color: var(--side-heading);
  font-size: 2rem;
}

.review-main p {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: var(--side-heading);
}

.customer-text {
  width: 100%;
  height: 65vh;
  position: relative !important;
  top: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.background {
  background-image: url("../../public/assets/customer-shoes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  z-index: -2;
  opacity: 0.7;
  border-radius: 10px;
}

ul li:first-child {
  font-size: 1.5rem;
  color: var(--heading);
}

ul .nike {
  position: relative;
  top: 1.5rem;
}

.brands-list {
  width: 100%;
  height: 40vh;
  background-color: #f8f4f2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
}

.logo-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}