:root {
    --bg-color : #7a0c0c;
    }

.navbar {
    font-size: 17px;
    line-height: 25px;
    background-color: white !important;
    height: 40vh;
    background-color: #f8f4f2 !important;
}

.navbar-brand {
    margin-top: -120px;
}

.nav-link {
    color: #7a0c0c !important;
    margin-top: -80px;
    margin-left: 2.5rem;
}

.nav-link:hover {
    border-bottom: 2px solid black;
  }

.logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-left: 2rem;
    position: relative;
    top: -.5rem;
}



